doctype html
html
    head
        title Edit Inventory
        //- link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/index.css')
        script.
            $(document).ready(function () {
            $("#mediumModalEdit").modal("show");
            });
    body
        .container 
            .row 
                .col-sm-12
                    #mediumModalEdit.modal.fade(tabindex='-1')
                        .modal-dialog.modal-md
                            .modal-content
                                .modal-header.fresher
                                    h5.modal-title Edit Inventory Item
                                //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                .modal-body(style='background-color:antiquewhite;')
                                    .card
                                        .card-body
                                            h5.card-title Item Details
                                            // Floating Labels Form
                                            form.row.g-3(name='editInventory' method='post' action='/director/managerDash/edit?id='+inventory._id)
                                                .col-md-6
                                                    .form-floating
                                                        input#itemname.form-control(required onblur='inventName()' name='itemname' type='text' value=inventory.itemname)
                                                        label.form-label(for='itemname') Item Name
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingEmail.form-control(required onblur='inventType()' name='itemtype' type='text' value=inventory.itemtype)
                                                        label.form-label(for='floatingEmail') Item Type
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingPassword.form-control(required onblur='inventPurch()' name='purchaseprice' type='text' value=inventory.purchaseprice)
                                                        label.form-label(for='floatingPassword') Purchase Price
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingCity.form-control(required onblur='inventSell()' name='sellingprice' type='text' value=inventory.sellingprice)
                                                        label.form-label(for='floatingCity') Selling Price
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingCity.form-control(required onblur='inventLeadTime()' name='leadtime' type='text' value=inventory.leadtime)
                                                        label(for='floatingCity') Lead Time
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingCity.form-control(required onblur='inventCycleTime()' name='cycletime' type='text' value=inventory.cycletime)
                                                        label(for='floatingCity') Cycle Time per Tonne
                                                .col-md-6
                                                    .form-floating.mb-3
                                                        select#floatingSelect.form-select(required onblur='supplyCateg()' name='supplycategory' aria-label='Supplier Category')
                                                            option(selected disabled) Supplier Category
                                                            option(value='Individual') Individual Farmer
                                                            option(value='Enterprise') Enterprise
                                                            option(value='KGL_Farm') KGL Farm
                                                        label(for='floatingSelect') Supplier Category
                                                .col-md-6
                                                    .form-floating
                                                        input#floatingZip.form-control(required onblur='inventSuppNam()' name='suppliername' value=inventory.suppliername type='text')
                                                        label.form-label(for='floatingZip') Supplier Name
                                                .col-md-6
                                                    .text-center
                                                        form(method="post" action='/director/managerDash/edit')
                                                            input(type="hidden", value=inventory._id)
                                                            button.btn.btn-dark(type="submit", name="submitbutton") Edit
                                                        button.btn.btn-dark(type='reset' name='resetbutton')
                                                            | Reset
                                                // End floating Labels Form
    footer#footer.footer(style='background-color:rgba(70, 71, 95, 0.803); height: 50px;')
        .copyright(style='text-align: center; color:black; font-size:medium;')
            p Copyright 2022 &copy; Dev&apos;d By Dom
    script(src='/js/main.js')
    script(src='/js/index.js')