doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Sales Agent Sales
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Vendor CSS Files
  link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  // Datatables CDN
  link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css')
  script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest' type='text/javascript')
  // Template Main CSS File
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/index.css')
nav.navbar.myNav.navbar-expand-md.navbar-dark.bg-dark.header-nav
  .container-fluid
    a.navbar-brand(href='./indexSales.html') KGL Ltd.
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav.mainNavbar
        li.nav-item.mainNav
          a.nav-link(aria-current='page' href='./indexSales.html') Dashboard
        li.nav-item.mainNav
          a.nav-link.active(href='#') Sales
        li.nav-item.mainNav
          a.nav-link(href='./salesAgSuppliers.html') Suppliers
        li.nav-item.mainNav
          a.nav-link(href='./salesAgCreditors.html') Creditors
        li.nav-item.dropdown.mainNav
          a.nav-link.nav-profile.d-flex.align-items-center.pe-0(href='#' data-bs-toggle='dropdown')
            img.profileImg(src='/img/profile-placeholder-image-gray-silhouette-vector-21542863.jpg' alt='Profile')
            span.d-none.d-md-block.dropdown-toggle.ps-2 Jimmy.M
          ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile(aria-labelledby='navbarDropdownMenuLink')
            li.dropdown-header
              h6 Jimmy Muyimbwa
              span Sales Agent
            li
              hr.dropdown-divider
            li
              a.dropdown-item.d-flex.align-items-center(data-bs-toggle='modal' data-bs-target='#largeModalprofile' onclick='profileModal()')
                i.bi.bi-person
                span My Profile
            li
              hr.dropdown-divider
            //
              <li>
              <a
              class="dropdown-item d-flex align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#largeModalAccts"
              onclick="acctSettingModal()"
              >
              <i class="bi bi-gear"></i>
              <span>User Account Settings</span>
              </a>
              </li>
              <li>
              <hr class="dropdown-divider" />
              </li>
            li
              a.dropdown-item.d-flex.align-items-center(href='../login+registration/loginModal.html')
                i.bi.bi-box-arrow-right
                span Sign Out
.card.mb-0
  .card-body.bodyCard
    // Bordered Tabs
    ul#borderedTab.nav.nav-tabs.nav-tabs-bordered.mainNav-tabs-bordered(role='tablist')
      li.nav-item.mainNav(role='presentation')
        button#home-tabMain.nav-link.active(data-bs-toggle='tab' data-bs-target='#bordered-home' type='button' role='tab' aria-controls='home' aria-selected='true')
          | Cash Sales
      li.nav-item.mainNav(role='presentation')
        button#profile-tabMain.nav-link(data-bs-toggle='tab' data-bs-target='#bordered-profile' type='button' role='tab' aria-controls='profile' aria-selected='false')
          | Credit Sales
    #carouselExampleSlidesOnly.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/img/istockphoto-181068280-1024x1024.jpg' alt='...')
    #borderedTabContent.tab-content.pt-3
      #bordered-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
        .container
          .row
            .card.mb-1(style='background-color:antiquewhite; border: 1px solid rgba(70, 71, 95, 0.803);')
              .card-body.pb-0
                h5.card-title.pb-0 Cash Sales
                // Table with stripped rows
                table.table.table-striped.datatable.table-reponsive
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') Name of Produce
                      th(scope='col') Type of Produce
                      th(scope='col') Tonnage (Kgs)
                      th(scope='col') Selling Price (Ugx/Kg)
                      th(scope='col') Date (dd/mm/yy)
                      th(scope='col') Name of Buyer
                      th(scope='col') Sales Agent
                  tbody
                    tr
                      th(scope='row') 1
                      td Beans
                      td Pods
                      td 400
                      td 5,000
                      td 04/05/22
                      td TMT SuperMarket
                      td Charles Odea
                    tr
                      th(scope='row') 2
                      td Maize
                      td Cobs
                      td 300
                      td 4,500
                      td 10/05/22
                      td Capital Shoppers
                      td Jimmy.M
                    tr
                      th(scope='row') 3
                      td Cow Peas
                      td Pods
                      td 500
                      td 6,000
                      td 23/05/22
                      td Ian Asigara
                      td Charles Odea
                    tr
                      th(scope='row') 4
                      td G.Nuts
                      td Nuts
                      td 300
                      td 7,000
                      td 31/05/22
                      td Mary Anne
                      td Jimmy.M
                    tr
                      th(scope='row') 5
                      td Soy Beans
                      td Seeds
                      td 700
                      td 8,000
                      td 06/06/22
                      td Quality Supermarket
                      td Charles Odea
                // End Table with stripped rows
          .row.justify-content-end
            // the button below should lead to a model to create a new inventory item, w/c item should become retrievable by the data-table.
            .col-sm-2
              button.btn.btn-dark(type='button' data-bs-toggle='modal' data-bs-target='#mediumModal')
                | Add Cash Sale
              #mediumModal.modal.fade(tabindex='-1')
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header.fresher
                      h5.modal-title Add Cash Sale
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body(style='background-color:rgba(43, 45, 79, 0.531);')
                      .card
                        .card-body.pb-2
                          // Floating Labels Form
                          .container-fluid
                            h5.card-title.pb-0 Sale Details
                            form.row.g-2.needs-validation(name='cashsales' onsubmit='')
                              .col-md-6
                                .form-floating
                                  input#itemname.form-control(onblur='saleName()' name='producename' style='border:1px solid black;' type='text' placeholder='Item Name')
                                  label.form-label(for='itemname') Item Name:
                                  //
                                    <div class="valid-feedback">Item name is valid!</div>
                                    <div class="invalid-feedback">Item name is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingEmail.form-control(onblur='saleType()' name='producetype' style='border:1px solid black;' type='text' placeholder='Item Type')
                                  label.form-label(for='floatingEmail') Item Type:
                                  //
                                    <div class="valid-feedback">Item Type is valid!</div>
                                    <div class="invalid-feedback">Item Type is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingPassword.form-control(onblur='saleQty()' name='salequantity' type='text' style='border:1px solid black;' placeholder='Purchase Price')
                                  label.form-label(for='floatingPassword') Tonnage in Kgs:
                                  //
                                    <div class="valid-feedback">Purchase Price is valid!</div>
                                    <div class="invalid-feedback">Purchase Price is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingCity.form-control(onblur='salePrice()' name='sellingprice' style='border:1px solid black;' type='text' placeholder='Selling Price')
                                  label.form-label(for='floatingCity') Selling Price:
                                  //
                                    <div class="valid-feedback">Selling Price is valid!</div>
                                    <div class="invalid-feedback">Selling Price is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingCity.form-control(onblur='dateOfSale()' name='dateofsale' type='text' style='border:1px solid black;' placeholder='Lead Time')
                                  label(for='floatingCity') Date of Dispatch:
                                  //
                                    <div class="valid-feedback">Lead Time is valid!</div>
                                    <div class="invalid-feedback">Lead Time is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  select#floatingSelect.form-select(onblur='saleStat()' name='salecategory' style='border:1px solid black;' aria-label='Supplier Category')
                                    option(selected='' value='1') Cash Sale
                                    option(disabled='' value='2') Credit Sale
                                  label(for='floatingSelect') Sale Status:
                                  //
                                    <div class="valid-feedback">Supplier Category is valid!</div>
                                    <div class="invalid-feedback">Supplier Category is not valid!</div>
                              ul.mb-0.mt-0(style='list-style-type:none;')
                                li
                                  hr.dropdown-divider(style='color: black;')
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingCity.form-control(onblur='buyerName()' name='buyername' type='text' style='border:1px solid black;' placeholder='Cycle Time')
                                  label(for='floatingCity') Name of Buyer:
                                  //
                                    <div class="valid-feedback">Cycle Time is valid!</div>
                                    <div class="invalid-feedback">Cycle Time is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingZip.form-control(onblur='buyerContact()' name='buyercontact' style='border:1px solid black;' type='text' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Buyer Contact:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              ul.mb-0.mt-0(style='list-style-type:none;')
                                li
                                  hr.dropdown-divider(style='color: black;')
                              .col-md-6
                                .form-floating
                                  input#floatingZip.form-control(onblur='salesAgent()' name='saleagent' type='text' style='border:1px solid black;' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Name of Sales Agent:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              .text-center.d-flex.justify-content-end
                                button.btn.btn-dark(type='submit' name='submitbutton' onsubmit='' style='margin-right: 2px;')
                                  | Submit
                                button.btn.btn-dark(type='reset' onclick='' name='resetbutton')
                                  | Reset
                          // End floating Labels Form
                    //
                      <div class="modal-footer">
                      <button
                      type="button"
                      class="btn btn-dark"
                      data-bs-dismiss="modal"
                      >
                      Close
                      </button>
                      <button type="button" class="btn btn-dark">
                      Save changes
                      </button>
                      </div>
              // End Large Modal
      #bordered-profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
        .container
          .row
            .card.mb-1(style='background-color:antiquewhite; border: 1px solid rgba(70, 71, 95, 0.803);')
              .card-body.pb-0
                h5.card-title.pb-0 Credit Sales
                // Table with stripped rows
                table.table.table-striped.datatable.table-reponsive
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') Name of Produce
                      th(scope='col') Type of Produce
                      th(scope='col') Tonnage (Kgs)
                      th(scope='col') Selling Price (Ugx/Kg)
                      th(scope='col') Dispatch (dd/mm/yy)
                      th(scope='col') Due (dd/mm/yy)
                      th(scope='col') Name of Buyer
                      th(scope='col') Sales Agent
                      th(scope='col') Payment Status
                  tbody
                    tr
                      th(scope='row') 1
                      td Beans
                      td Pods
                      td 400
                      td 5,000
                      td 04/05/22
                      td 04/06/22
                      td TMT SuperMarket
                      td Charles Odea
                      td Pending
                    tr
                      th(scope='row') 2
                      td Maize
                      td Cobs
                      td 300
                      td 4,500
                      td 10/05/22
                      td 04/06/22
                      td Capital Shoppers
                      td Jimmy.M
                      td Cleared
                    tr
                      th(scope='row') 3
                      td Cow Peas
                      td Pods
                      td 500
                      td 6,000
                      td 23/05/22
                      td 04/06/22
                      td Ian Asigara
                      td Charles Odea
                      td Cleared
                    tr
                      th(scope='row') 4
                      td G.Nuts
                      td Nuts
                      td 300
                      td 7,000
                      td 31/05/22
                      td 04/06/22
                      td Mary Anne
                      td Jimmy.M
                      td Pending
                    tr
                      th(scope='row') 5
                      td Soy Beans
                      td Seeds
                      td 700
                      td 8,000
                      td 06/06/22
                      td 04/07/22
                      td Quality Supermarket
                      td Charles Odea
                      td Cleared
                // End Table with stripped rows
          .row.justify-content-end
            // the button below should lead to a model to create a new inventory item, w/c item should become retrievable by the data-table.
            .col-sm-2
              button.btn.btn-dark(type='button' data-bs-toggle='modal' data-bs-target='#mediumModalCred')
                | Add Credit Sale
              #mediumModalCred.modal.fade(tabindex='-1')
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header.fresher
                      h5.modal-title Add Credit Sale
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body(style='background-color:rgba(43, 45, 79, 0.531);')
                      .card
                        .card-body.pb-2
                          // Floating Labels Form
                          .container-fluid
                            h5.card-title.pb-0 Sale Details
                            form.row.g-2.needs-validation(name='creditsales' onsubmit='')
                              .col-md-6
                                .form-floating
                                  input#itemname.form-control(onblur='credSaleName()' name='producename' style='border:1px solid black;' type='text' placeholder='Item Name')
                                  label.form-label(for='itemname') Item Name:
                                  //
                                    <div class="valid-feedback">Item name is valid!</div>
                                    <div class="invalid-feedback">Item name is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingEmail.form-control(onblur='credSaleType()' name='producetype' style='border:1px solid black;' type='text' placeholder='Item Type')
                                  label.form-label(for='floatingEmail') Item Type:
                                  //
                                    <div class="valid-feedback">Item Type is valid!</div>
                                    <div class="invalid-feedback">Item Type is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingPassword.form-control(onblur='credSaleQty()' name='salequantity' type='text' style='border:1px solid black;' placeholder='Purchase Price')
                                  label.form-label(for='floatingPassword') Tonnage in Kgs:
                                  //
                                    <div class="valid-feedback">Purchase Price is valid!</div>
                                    <div class="invalid-feedback">Purchase Price is not valid!</div>
                              .col-md-6
                                .form-floating
                                  input#floatingCity.form-control(onblur='credSalePrice()' name='sellingprice' style='border:1px solid black;' type='text' placeholder='Amount Due')
                                  label.form-label(for='floatingCity') Amount Due:
                                  //
                                    <div class="valid-feedback">Selling Price is valid!</div>
                                    <div class="invalid-feedback">Selling Price is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingCity.form-control(onblur='credDateOfSale()' name='dateofsale' type='text' style='border:1px solid black;' placeholder='Lead Time')
                                  label(for='floatingCity') Date of Dispatch:
                                  //
                                    <div class="valid-feedback">Lead Time is valid!</div>
                                    <div class="invalid-feedback">Lead Time is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingCity.form-control(onblur='credDueDate()' name='duedate' type='text' style='border:1px solid black;' placeholder='Lead Time')
                                  label(for='floatingCity') Due Date:
                                  //
                                    <div class="valid-feedback">Lead Time is valid!</div>
                                    <div class="invalid-feedback">Lead Time is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  select#floatingSelect.form-select(onblur='credSaleStat()' name='salecategory' style='border:1px solid black;' aria-label='Supplier Category')
                                    option(selected='' value='1') Credit Sale
                                    option(disabled='' value='2') Cash Sale
                                  label(for='floatingSelect') Sale Status:
                                  //
                                    <div class="valid-feedback">Supplier Category is valid!</div>
                                    <div class="invalid-feedback">Supplier Category is not valid!</div>
                              ul.mb-0.mt-0(style='list-style-type:none;')
                                li
                                  hr.dropdown-divider(style='color: black;')
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingCity.form-control(onblur='credBuyerName()' name='buyername' type='text' style='border:1px solid black;' placeholder='Cycle Time')
                                  label(for='floatingCity') Name of Buyer:
                                  //
                                    <div class="valid-feedback">Cycle Time is valid!</div>
                                    <div class="invalid-feedback">Cycle Time is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingZip.form-control(onblur='credBuyerContact()' name='buyercontact' style='border:1px solid black;' type='text' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Buyer Contact:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingZip.form-control(onblur='credBuyerLocate()' name='location' style='border:1px solid black;' type='text' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Buyer Location:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              .col-md-6
                                .form-floating.mb-2
                                  input#floatingZip.form-control(onblur='credBuyerNIN()' name='nin' style='border:1px solid black;' type='text' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Buyer NIN:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              ul.mb-0.mt-0(style='list-style-type:none;')
                                li
                                  hr.dropdown-divider(style='color: black;')
                              .col-md-6
                                .form-floating
                                  input#floatingZip.form-control(onblur='credSalesAgent()' name='saleagent' type='text' style='border:1px solid black;' placeholder='Name of Supplier')
                                  label.form-label(for='floatingZip') Name of Sales Agent:
                                  //
                                    <div class="valid-feedback">Supplier Name is valid!</div>
                                    <div class="invalid-feedback">Supplier Name is not valid!</div>
                              .text-center.d-flex.justify-content-end
                                button.btn.btn-dark(type='submit' name='submitbutton' onsubmit='' style='margin-right: 2px;')
                                  | Submit
                                button.btn.btn-dark(type='reset' onclick='' name='resetbutton')
                                  | Reset
                          // End floating Labels Form
                    //
                      <div class="modal-footer">
                      <button
                      type="button"
                      class="btn btn-dark"
                      data-bs-dismiss="modal"
                      >
                      Close
                      </button>
                      <button type="button" class="btn btn-dark">
                      Save changes
                      </button>
                      </div>
              // End Large Modal
    // End Bordered Tabs
// Profile Modal
#largeModalprofile.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.fresher
        h5.modal-title User Profile
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        // #main
        main#main.main
          .pagetitle.profiletitle
            h1 Profile
            nav
              ol.breadcrumb.profileCrumb
                li.breadcrumb-item
                  a(href='index.html') Home
                li.breadcrumb-item Users
                li.breadcrumb-item.active Profile
          // End Page Title
      section.section.profile
        .row
          .col-lg-4
            .card
              .card-body.profile-card.pt-4.d-flex.flex-column.align-items-center
                img.rounded-circle(src='/img/profile-placeholder-image-gray-silhouette-vector-21542863.jpg' alt='Profile')
                h2(style='word-wrap: normal; max-width: 125px; text-align: center;') Mr.Jimmy
                h3 Sales Agent
                //
                  <div class="social-links mt-2">
                  <a href="#" class="twitter"
                  ><i class="bi bi-twitter"></i
                  ></a>
                  <a href="#" class="facebook"
                  ><i class="bi bi-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                  ></a>
                  <a href="#" class="linkedin"
                  ><i class="bi bi-linkedin"></i
                  ></a>
                  </div>
          .col-lg-8
            .card
              .card-body.pt-3
                // Bordered Tabs
                ul.nav.nav-tabs.nav-tabs-bordered
                  li.nav-item
                    button.nav-link.active(data-bs-toggle='tab' data-bs-target='#profile-overview')
                      | Overview
                  li.nav-item
                    button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-edit')
                      | Edit Profile
                  li.nav-item
                    button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-settings')
                      | Settings
                  li.nav-item
                    button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-change-password')
                      | Change Password
                .tab-content.pt-2
                  #profile-overview.tab-pane.fade.show.active.profile-overview
                    h5.card-title About
                    p.small.fst-italic
                      | Lorem ipsum dolor sit amet, consectetur adipiscing
                      | elit. Vestibulum hendrerit, ante a sagittis
                      | posuere, elit nibh convallis nunc, quis faucibus
                      | sem diam id leo. Vivamus id arcu pellentesque,
                      | blandit tortor sagittis, facilisis libero. Aenean
                      | mattis tellus a dui consectetur, et viverra turpis
                      | aliquam.
                    h5.card-title Profile Details
                    .row
                      .col-lg-3.col-md-4.label
                        | Full Name
                      .col-lg-9.col-md-8
                        | Jimmy Muyimbwa
                    .row
                      .col-lg-3.col-md-4.label Company
                      .col-lg-9.col-md-8
                        | Karibu Groceries Limited.
                    .row
                      .col-lg-3.col-md-4.label Job
                      .col-lg-9.col-md-8 Sales Agent
                    .row
                      .col-lg-3.col-md-4.label Country
                      .col-lg-9.col-md-8 UGANDA
                    .row
                      .col-lg-3.col-md-4.label Address
                      .col-lg-9.col-md-8
                        | Kawaga Close, off Kalungi Road, Muyenga,
                        | Kampala, Uganda.
                    .row
                      .col-lg-3.col-md-4.label Phone
                      .col-lg-9.col-md-8
                        | +256 759 912 204
                    .row
                      .col-lg-3.col-md-4.label Email
                      .col-lg-9.col-md-8
                        | m.jimmy@student.ciu.ac.ug
                  #profile-edit.tab-pane.fade.profile-edit.pt-3
                    // Profile Edit Form
                    form(name='editprofile')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='profileImage') Profile Image
                        .col-md-8.col-lg-9
                          img(src='/img/profile-placeholder-image-gray-silhouette-vector-21542863.jpg' alt='Profile')
                          .pt-2
                            a.btn.btn-dark.btn-sm(href='#' title='Upload new profile image')
                              i.bi.bi-upload
                            a.btn.btn-danger.btn-sm(href='#' title='Remove my profile image')
                              i.bi.bi-trash
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='fullName') Full Name
                        .col-md-8.col-lg-9
                          input#fullName.form-control(name='fullname' onblur='profileName()' type='text' placeholder='Full Name' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='about') About
                        .col-md-8.col-lg-9
                          textarea#about.form-control(name='about' onblur='profileAbout()' style='height: 100px')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='company') Company
                        .col-md-8.col-lg-9
                          input#company.form-control(name='company' onblur='profileCompany()' type='text' placeholder='Karibu Groceries Limited.' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='Job') Job
                        .col-md-8.col-lg-9
                          input#Job.form-control(name='job' onblur='profileRole()' type='text' placeholder='Manager' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='Country') Country
                        .col-md-8.col-lg-9
                          input#Country.form-control(name='country' onblur='profileCountry()' type='text' placeholder='UGANDA' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='Address') Address
                        .col-md-8.col-lg-9
                          input#Address.form-control(name='address' onblur='profileAddress()' type='text' placeholder='Kawaga Close, off Kalungi Road, Muyenga, Kampala, Uganda.' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='Phone') Phone
                        .col-md-8.col-lg-9
                          input#Phone.form-control(name='phone' onblur='profilePhone()' type='text' placeholder='--- --- --- ---' value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='Email') Email
                        .col-md-8.col-lg-9
                          input#Email.form-control(name='email' onblur='profileEmail()' type='email' placeholder='email@example.ac.ug' value='')
                      .text-center
                        button.btn.btn-dark(type='submit')
                          | Save Changes
                    // End Profile Edit Form
                  #profile-settings.tab-pane.fade.pt-3
                    // Settings Form
                    form
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='fullName') Email Notifications
                        .col-md-8.col-lg-9
                          .form-check
                            input#changesMade.form-check-input(type='checkbox' checked='')
                            label.form-check-label(for='changesMade')
                              | Changes made to your account
                          .form-check
                            input#newProducts.form-check-input(type='checkbox' checked='')
                            label.form-check-label(for='newProducts')
                              | Information on new products and services
                          .form-check
                            input#proOffers.form-check-input(type='checkbox')
                            label.form-check-label(for='proOffers')
                              | Marketing and promo offers
                          .form-check
                            input#securityNotify.form-check-input(type='checkbox' checked='' disabled='')
                            label.form-check-label(for='securityNotify')
                              | Security alerts
                      .text-center
                        button.btn.btn-dark(type='submit')
                          | Save Changes
                    // End settings Form
                  #profile-change-password.tab-pane.fade.pt-3
                    // Change Password Form
                    form
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='currentPassword') Current Password
                        .col-md-8.col-lg-9
                          input#currentPassword.form-control(name='password' type='password')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='newPassword') New Password
                        .col-md-8.col-lg-9
                          input#newPassword.form-control(name='newpassword' type='password')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='renewPassword')
                          | Re-enter New
                          | Password
                        .col-md-8.col-lg-9
                          input#renewPassword.form-control(name='renewpassword' type='password')
                      .text-center
                        button.btn.btn-dark(type='submit')
                          | Change Password
                    // End Change Password Form
                // End Bordered Tabs
              .modal-footer.fresher
                //
                  <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-dismiss="modal"
                  >
                  Close
                  </button>
                  <button type="button" class="btn btn-dark">Save changes</button>
      // End #Main
// End of Profile Modal
footer#footer.footer(style='background-color:rgba(70, 71, 95, 0.803); height: 50px;')
  .copyright(style='text-align: center; color:black; font-size:medium;')
    p Copyright 2022 &copy; Dev&apos;d By Dom
// Vendor JS Files
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/simple-datatables/simple-datatables.js')
// Template Main JS File
script(src='/js/main.js')
script(src='/js/index.js')
